<!-- *****************************************************************************************************************
 AGENCY ABOUT
 ***************************************************************************************************************** -->
<div class="container mtb">
    <div class="row">
        <div class="col-lg-6">
            <video controls="controls">
                <source src="../../Content/videos/Pizza_Video.mp4" type="video/mp4" />
            </video>
        </div>

        <div class="col-lg-6">
            <h4>מידע אודות הפיצרייה שלנו</h4>
            <p> הפיצרייה שלנו נפתחה לראשונה בשנת 2016 במקום חביב אשר נקרא המכללה למנהל. </p>
            <aside>
                <p> במכללה למנהל כל הקסם התחיל.</p>
            </aside>
            <p>אנו מוכנים לעמוד לרשותכם באשר לכל בקשה.</p>
            <p>לכל הצעת שיפור או הצעה למאכלים חדשים, הנכם מוזמנים ליצור איתנו קשר בקישור שמתחת.</p>
            <p><br /><a asp-area="" asp-controller="Home" asp-action="Contact">צור קשר</a></p>
        </div>
    </div><! --/row -->
</div><! --/container -->

<!-- *****************************************************************************************************************
 TEEAM MEMBERS
 ***************************************************************************************************************** -->
<div class="container mtb">
    <div class="row centered">
        <h3 class="mb">הכירו את צוות ההנהלה</h3>

        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="he-wrap tpl6">
                <img id="person" src="../../Content/images/Or.jpg" alt="">
            </div><!-- he wrap -->
            <h4>אור נתן</h4>
            <h5 class="ctitle">מנהל סניף ראשון</h5>
            <p>אוהב פיצה עם טונה</p>
            <div class="hline"></div>
        </div><! --/col-lg-3 -->

        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="he-wrap tpl6">
                <img id="person" src="../../Content/images/Barel.jpg" alt="">
            </div><!-- he wrap -->
            <h4>אורון עברון</h4>
            <h5 class="ctitle">מנהל סניף גבעת שמואל</h5>
            <p>אוהב פיצה עם בטטה</p>
            <div class="hline"></div>
        </div><! --/col-lg-3 -->

        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="he-wrap tpl6">
                <img id="person" src="../../Content/images/Oron.jpg" alt="">
            </div><!-- he wrap -->
            <h4>בראל מנגל</h4>
            <h5 class="ctitle">מנהל סניף פתח תקווה</h5>
            <p>אוהב פיצה עם זיתים</p>
            <div class="hline"></div>
        </div><! --/col-lg-3 -->

    </div><! --/row -->
</div><! --/container -->
