<img id="mainImage" src="Content/images/pizza_logo.jpg"/>

<!-- *****************************************************************************************************************
 SERVICE LOGOS
 ***************************************************************************************************************** -->
<div id="service">
    <div class="container">
        <div class="row centered">
            <div class="col-md-4">
                <i class="fa fa-heart-o"></i>
                <h4>אהובים בקרב הלקוחות</h4>
                <p>מאז 2016, יותר ויותר לקוחות נחשפים לטעם ולאיכות של הפיצות שלנו. בלעדיהם לא היינו יכולים להמשיך ולצמוח כמו שאנחנו צומחים.
                    סניפים חדשים נפתחים באיזור שונים בארץ על מנת להחזיר את אהבתנו ללקוחות</p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-cutlery"></i>
                <h4>מרכיבים איכותיים</h4>
                <p>אצלנו בפיצרייה מקפידים על שימוש במרכיבים האיכותיים ביותר בתהליך הכנת הפיצה.
                    מרכיבים אלו נבחרים בקפידה החל מהכנת הבצק ועד לסוג הגבינה ולרוטב העגבניות שאנו שמים על הפיצה.</p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-trophy"></i>
                <h4>מעוטרים בפרסים</h4>
                <p>הפיצרייה שלנו זכתה בפרס אייל שני לפיצה עם העגבניות הכי איכותיות.
                    בנוסף נבחרנו בכנס בארצות הברית לאחת מהפיצריות הכי טובות בעולם.</p>
            </div>
        </div>
    </div><! --/container -->
</div><! --/service -->