<!--<img id="mainImage" src="Content/images/pizza_logo.jpg"/>-->
<!--<div id="headerwrap">-->
    <!--<div class="mtb container">-->
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img class="CarouselImg" src="Content/images/pizza_shop.jpg" alt="Store" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>החנות שלנו</h3>
                        <p class="carouselSmallCaption">עיצוב מודרני, אווירה נעימה והמון המון פיצות!</p>
                    </div>
                </div>
                <div class="item">
                    <img class="CarouselImg" src="Content/images/tasty_pizza.jpg" alt="Pizza" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>פיצה קלאסיקו</h3>
                        <p class="carouselSmallCaption">הפיצה האהובה עכשיו בהנחה!</p>
                    </div>
                </div>
                <div class="item">
                    <img class="CarouselImg" src="Content/images/pizza_window.jpg" alt="Pizza Window" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>מבחר הפיצות</h3>
                        <p class="carouselSmallCaption">בפיצה פלאנט תמיד תמצאו גיוון!</p>
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev" target="_self">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next" target="_self">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    <!--</div>-->
<!--</div>-->

<!-- *****************************************************************************************************************
 SERVICE LOGOS
 ***************************************************************************************************************** -->
<div id="service">
    <div class="container">
        <div class="row centered">
            <div class="col-md-4">
                <i class="fa fa-heart-o"></i>
                <h4>אהובים בקרב הלקוחות</h4>
                <p>מאז 2016, יותר ויותר לקוחות נחשפים לטעם ולאיכות של הפיצות שלנו. בלעדיהם לא היינו יכולים להמשיך ולצמוח כמו שאנחנו צומחים.
                    סניפים חדשים נפתחים באיזור שונים בארץ על מנת להחזיר את אהבתנו ללקוחות</p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-cutlery"></i>
                <h4>מרכיבים איכותיים</h4>
                <p>אצלנו בפיצרייה מקפידים על שימוש במרכיבים האיכותיים ביותר בתהליך הכנת הפיצה.
                    מרכיבים אלו נבחרים בקפידה החל מהכנת הבצק ועד לסוג הגבינה ולרוטב העגבניות שאנו שמים על הפיצה.</p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-trophy"></i>
                <h4>מעוטרים בפרסים</h4>
                <p>הפיצרייה שלנו זכתה בפרס אייל שני לפיצה עם העגבניות הכי איכותיות.
                    בנוסף נבחרנו בכנס בארצות הברית לאחת מהפיצריות הכי טובות בעולם.</p>
            </div>
        </div>
    </div><! --/container -->
</div><! --/service -->