<div class="container mtb">
    <p>
        <a ng-href="#/employeeCreate">יצירת עובד</a>
    </p>

    <table class="table table-hover table-striped table-condensed table-bordered ordersTable">
        <thead>
        <tr>
            <th data-ng-click="sortBy('Name')">שם עובד
                <span class="sortorder"
                      ng-style="{'visibility' : propertyName === 'Name' ? 'visible' : 'hidden'}"
                      ng-class="{reverse: reverse}"></span>
            </th>
            <th data-ng-click="sortBy('Sex')">מין
                <span class="sortorder"
                      ng-style="{'visibility' : propertyName === 'Sex' ? 'visible' : 'hidden'}"
                      ng-class="{reverse: reverse}"></span>
            </th>
            <th data-ng-click="sortBy('Role')">תפקיד
                <span class="sortorder"
                      ng-style="{'visibility' : propertyName === 'Role' ? 'visible' : 'hidden'}"
                      ng-class="{reverse: reverse}"></span>
            </th>
            <th data-ng-click="sortBy('BranchName')">סניף
                <span class="sortorder"
                      ng-style="{'visibility' : propertyName === 'BranchName' ? 'visible' : 'hidden'}"
                      ng-class="{reverse: reverse}"></span>
            </th>
            <th data-ng-click="sortBy('Wage')">שכר
                <span class="sortorder"
                      ng-style="{'visibility' : propertyName === 'Wage' ? 'visible' : 'hidden'}"
                      ng-class="{reverse: reverse}"></span>
            </th>
            <th data-ng-click="sortBy('City')">עיר
                <span class="sortorder"
                      ng-style="{'visibility' : propertyName === 'City' ? 'visible' : 'hidden'}"
                      ng-class="{reverse: reverse}"></span>
            </th>
            <th data-ng-click="sortBy('Birthday')">תאריך לידה
                <span class="sortorder"
                      ng-style="{'visibility' : propertyName === 'Birthday' ? 'visible' : 'hidden'}"
                      ng-class="{reverse: reverse}"></span>
            </th>
            <th data-ng-click="sortBy('JoinDate')">תאריך הצטרפות
                <span class="sortorder"
                      ng-style="{'visibility' : propertyName === 'JoinDate' ? 'visible' : 'hidden'}"
                      ng-class="{reverse: reverse}"></span>
            </th>
            <th>פעולות</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-hide="employees.length > 0" class="error">
            <td colspan="9">
                <div class="text-center"><strong>לא נמצאו עובדים</strong></div>
            </td>
        </tr>
        <tr data-ng-repeat="employee in employees | orderBy:propertyName:reverse">
            <td>
                {{ employee.Name }}
            </td>
            <td>
                {{ employee.Sex }}
            </td>
            <td>
                {{ employee.Role }}
            </td>
            <td>
                {{ employee.BranchName }}
            </td>
            <td>
                {{ employee.Wage }}
            </td>
            <td>
                {{ employee.City }}
            </td>
            <td>
                <span ng-bind="employee.Birthday | date:'dd/MM/yyyy'"></span>
            </td>
            <td>
                <span ng-bind="employee.JoinDate | date:'dd/MM/yyyy'"></span>
            </td>
            <td>
                <a ng-href="#/employee/{{employee._id}}">פרטים</a> |
                <a ng-href="#/employeeEdit/{{employee._id}}">עריכה</a> |
                <a ng-href="#/employeeDelete/{{employee._id}}">מחיקה</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>