<div class="container mtb">
    <form name="Form">
        <div class="form-group">
            <label>שם עובד:</label>
            <div class="form-inline">
                <input type="text" name="Name" data-ng-model="newEmployee.Name" class="form-control" required>
                <span style="color:red" ng-show="Form.Name.$error.required">חובה להזין שם סניף</span>
            </div>
        </div>
        <div class="form-group">
            <label>מין:</label>
            <div class="form-inline">
                <select name="Sex" ng-model="newEmployee.Sex" ng-options="x for x in sexValues" required></select>
                <span style="color:red" ng-show="Form.Sex.$error.required">חובה להזין מין</span>
            </div>
        </div>
        <div class="form-group">
            <label>תפקיד:</label>
            <div class="form-inline">
                <select name="Role" ng-model="newEmployee.Role" ng-options="x for x in roleValues" required></select>
                <span style="color:red" ng-show="Form.Role.$error.required">חובה להזין תפקיד</span>
            </div>
        </div>
        <div class="form-group">
            <label>שכר:</label>
            <div class="form-inline">
                <input type="number" name="Wage" data-ng-model="newEmployee.Wage" class="form-control" min = "0" required>
                <span style="color:red" ng-show="Form.Wage.$error.required">חובה להזין שכר</span>
                <span style="color:red" ng-show="Form.Wage.$error.min">לא ניתן להזין שכר שלילי</span>
                <span style="color:red" ng-show="Form.Wage.$error.number">נא להזין מספר</span>
            </div>
        </div>
        <div class="form-group">
            <label>עיר:</label>
            <div class="form-inline">
                <input type="text" name="City" data-ng-model="newEmployee.City" class="form-control" required>
                <span style="color:red" ng-show="Form.City.$error.required">חובה להזין עיר</span>
            </div>
        </div>
        <div class="form-group">
            <label>תאריך לידה:</label>
            <div class="form-inline">
                <input type="date" name="Birthday" data-ng-model="newEmployee.Birthday" class="form-control"
                       max="{{maxDate | date:'yyyy-MM-dd'}}" required>
                <span style="color:red" ng-show="Form.Birthday.$error.required">חובה להזין תאריך לידה</span>
                <span style="color:red" ng-show="Form.Birthday.$error.date">תאריך לא תקין</span>
                <span style="color:red" ng-show="Form.Birthday.$error.max">לא ניתן להזין תאריך עתידי</span>
            </div>
        </div>
        <div class="form-group">
            <label>תאריך הצטרפות:</label>
            <div class="form-inline">
                <input type="date" name="JoinDate" data-ng-model="newEmployee.JoinDate" class="form-control"
                       max="{{maxDate | date:'yyyy-MM-dd'}}" required>
                <span style="color:red" ng-show="Form.JoinDate.$error.required">חובה להזין תאריך הצטרפות</span>
                <span style="color:red" ng-show="Form.JoinDate.$error.date">תאריך לא תקין</span>
                <span style="color:red" ng-show="Form.JoinDate.$error.max">לא ניתן להזין תאריך עתידי</span>
            </div>
        </div>
        <br>
        <button id="submitEmployee" class="btn btn-default" type="button"
                data-ng-disabled="!newEmployee.Name || !newEmployee.Sex || !newEmployee.Role || !newEmployee.Wage ||
                                  !newEmployee.City || !newEmployee.Birthday || !newEmployee.JoinDate"
                data-ng-click="insertEmployee()">הוספת עובד</button>
        &nbsp;
        <a ng-href="#/employee">חזרה לרשימה</a>
    </form>
</div>