<div>
    <div>
        <dl>
            <dt>
                <label>שם סניף</label>
            </dt>
            <dd>
                <input type="text" disabled="disabled" ng-model="selBranch.Name">
            </dd>
            <dt>
                <label>אזור</label>
            </dt>
            <dd>
                <input type="text" disabled="disabled" ng-model="selBranch.Region">
            </dd>
            <dt>
                <label>עיר</label>
            </dt>
            <dd>
                <input type="text" disabled="disabled" ng-model="selBranch.City">
            </dd>
            <dt>
                <label>האם כשר?</label>
            </dt>
            <dd>
                <input type="checkbox" disabled="disabled" ng-model="selBranch.IsKosher">
            </dd>
            <dt>
                <label>האם נגיש לנכים?</label>
            </dt>
            <dd>
                <input type="checkbox" disabled="disabled" ng-model="selBranch.IsDisabledAccessible">
            </dd>

        </dl>
    </div>
    <div>
        <button id="submitBranch" class="btn btn-default" type="button"
                data-ng-click="deleteBranch()">מחיקת סניף</button>
        <a ng-href="#/branch">חזרה לרשימה</a>
    </div>
</div>